<%= image_tag @cat.profile %>

<table>
  <tr>
    <td class="td-style">Name: </td>
    <td class="td-style"><%= @cat.name %></td>
  </tr>
  <tr>
    <td class="td-style">Age: </td>
    <td class="td-style"><%= @cat.age %></td>
  </tr>
  <tr>
    <td class="td-style">Color: </td>
    <td class="td-style"><%= @cat.color %></td>
  </tr>
  <tr>
    <td class="td-style">Birthday: </td>
    <td class="td-style"><%= @cat.birth_date %></td>
  </tr>
</table>




<% @cat.cat_rental_requests.each_with_index do |request, req_idx| %>
<div id="requests-style">
	<%= "Request ##{req_idx + 1}" %>
	<br>
	<label>Start Date: </label>
	<%= request.start_date %>
	<br>
	<label>End Date: </label>
	<%= request.end_date %>
	<br>
	<br>
	<% if request.pending? && current_user && current_user.id == @cat.id %>
		<%= button_to "Approve rental", approve_cat_rental_request_url(request), :method => :patch %>
		<%= button_to "Deny rental", deny_cat_rental_request_url(request), :method => :patch %>
	<% end %>
	</div>
<% end %>


