<!DOCTYPE html>
<html>
<head>
  <title>Cats99</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <style>
  .td-style{
    padding: 5px;
  }

  #requests-style{
    padding: 10px;
    border: 2px solid #ccc;

  }

  body{
    font-family: verdana;
    color: black;
    font-weight: bold;
    background-image: url('http://images2.fanpop.com/image/photos/9400000/Aaaaaawwwwwwwwww-Sweet-puppies-9415255-1600-1200.jpg');
  }

  #outer-container {
  width: 100%;
  opacity: 0.6;
  filter: alpha(opacity=60);
  }

  #inner-container{
    width: 60%;
    margin: 20px auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background: white;
  }
  </style>
</head>
<body>
	<% if flash[:error] %>
		<% flash[:error].each do |error| %>
			<ul style="color:red;"><%= error %></ul>
		<% end %>
	<% end %>
  <div id="outer-container">
    <div id="inner-container">
      <%= yield %>
    </div>
  </div>

</body>
</html>
